<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Where do we operate</h5>
                <ul class="cities">
                    <li>Prague</li>
                    <li>Brno</li>
                    <li>Ostrava</li>
                    <li>Karlovy Vary</li>
                </ul>
            </div>
            <div class="col-md-6" id="contactUs">
                <h5>Contact Us</h5>
                <ul>
                    <li>Do you have any questions?</li>
                    <li style="text-align: center;">+420 482 584 583</li>
                    <li>Feel free to send us an email!</li>
                    <li style="text-align: center;">info@leasedriveczechia.cz</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-muted">© 2024 LeaseDrive Czechia. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
