<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_token.css')}}">
</head>
<body>
<!-- Add header content -->
<header class="header">
  {% include 'partials/_navbar.html' %}
</header>

<section class="reset-token">
  <div class="content-section">
    <form method="POST" action="">
        {{form.hidden_tag() }}
        {{form.csrf_token}}
        <fieldset class="form-group">
            <legend class="border-bottom mb=4" id="resetTokenHeader">Reset Password</legend>
            <div class="form-group">
              {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Enter your password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.password(class="form-control form-control-lg", placeholder="Enter new password") }}
                {% endif %}
            </div>
            <div class="form-group">
              {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="Enter your confirm_password") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>

              {% else %}
                {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm new password") }}
              {% endif %}
            </div>              
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn", value="Reset") }}
        </div>
    </form>
</div>
</section>
  

  <!-- Add footer content -->
<footer class="footer">
  {% include 'partials/_footer.html' %}
</footer>

 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <!-- Link to your custom JavaScript file -->
 <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>