<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js" defer></script>
</head>

<body>
    <header>
        <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/public/index.html">Home</a></li>
                <li><a href="/public/product.html">Offer of Cars</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#locations">Our Branches</a></li>
                <li><a href="/public/resgitration.html">Register</a></li>
            </ul>
        </nav>
        <nav class="upper-nav">
            <div class="upper-nav-content">
                <a href="/public/index.html"><img src="/media/homeSVG.svg" alt="home button"></a>
                <div class="slogan">
                    <p>Flexible operational car leasing - the easiest way to own a car</p>
                </div>
                <a href="#"><img src="/media/cartIcon.svg" alt="cart icon" id="cartIcon"></a>
                <a href="#"><img src="/media/wishlistIcon.png" alt="wishlist icon" id="wishlistIcon"></a>
                <a href="/public/profile.html"><img src="/media/profileIcon.svg" alt="profile page icon"
                        id="profileIcon"></a>
            </div>
        </nav>
    </header>

    <section class="profile-menu">
        <div class="profile-container">
            <div class="side-menu">
                <ul>
                    <li><a href="">Profile</a></li>
                    <li><a href="">Account Security</a></li>
                    <li><a href="">Payment Methods</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Notifications</a></li>
                    <li><a href="">Delete Account</a></li>
                </ul>
            </div>
            <div class="main-content">

            </div>
        </div>
    </section>


</body>

</html>