<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/product.css">
    <script src="/js/productPage.js" defer></script>
</head>

<body>
    <header>
        <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav id="nav">
            <ul>

                <li><a href="/public/index.html">Home</a></li>
                <li><a href="/public/product.html">Offer of Cars</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#locations">Our Branches</a></li>
                <li><a href="/public/resgitration.html">Register</a></li>
            </ul>
        </nav>
        <nav class="upper-nav">
            <div class="upper-nav-content">
                <a href="/public/index.html"><img src="/media/homeSVG.svg" alt="home button"></a>
                <div class="slogan">
                    <p>Flexible operational car leasing - the easiest way to own a car</p>
                </div>
                <div class="contact-info">
                    <div class="email-contact">
                        <img src="/media/emailSVG.svg" alt="email button">
                        <a href="mailto:info@leasedriveczechia.cz">info@leasedriveczechia.cz</a>
                    </div>
                    <div class="phone-contact">
                        <img src="/media/phoneSVG.svg" alt="phone button">
                        <a href="#">+420 774 599 197</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="main">
        <div class="container">
            <div class="search-filter">
                <p class="clearFilters">Clear all filters</p>
                <p class="searchInventory">Search our Inventory</p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Brand
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Skoda Octavia</a></li>
                        <li><a class="dropdown-item" href="#">Skoda Kodiaq</a></li>
                        <li><a class="dropdown-item" href="#">Skoda Superb</a></li>
                        <li><a class="dropdown-item" href="#">Skoda Slavia</a></li>
                    </ul>
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Body
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sedan</a></li>
                        <li><a class="dropdown-item" href="#">SUV</a></li>
                    </ul>
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fuel
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Petrol</a></li>
                        <li><a class="dropdown-item" href="#">Diesel</a></li>
                    </ul>
                </div>
                <p class="tires">Tires</p>
                <div class="radio-buttons-tires">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tires" id="withTires">
                        <label class="form-check-label" for="withTires">Including winter tires</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tires" id="withoutTires">
                        <label class="form-check-label" for="withoutTires">Without winter tires</label>
                    </div>
                </div>
                <p class="searchBy">Search By:</p>
                <div class="radio-buttons-filter">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="searchBy" id="defaultSearch">
                        <label class="form-check-label" for="defaultSearch">Best-selling</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="searchBy" id="defaultCheckedSearch">
                        <label class="form-check-label" for="defaultCheckedSearch">Most expensive</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="searchBy" id="defaultCheckedSearch">
                        <label class="form-check-label" for="defaultCheckedSearch">Cheapest</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="vehicles">
        <div class="skoda-octavia">

        </div>
    </section>

    <footer class="py-4">
        <div class="container text-center">
            <div class="whatsNext">
                <h4>What's next?</h4>
                <p>Lease a car</p>
                <p>About us</p>
            </div>
            <div class="locations">
                <h4>Where Do We Operate?</h4>
                <p>Prague</p>
                <p>Brno</p>
                <p>Ostrava</p>
                <p>Karlovy Vary</p>
            </div>
            <div class="contact">
                <h4>Contact us</h4>
                <p>Do you have any questions?</p>
                <p id="phoneNumber">+420 482 584 583</p>
                <p>Feel free to write to us</p>
                <p id="emailAddress">info@leasedriveczechia.cz</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>