@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', arial, sans-serif;
    background-color: #dee1e6;
}

#nav {
    display: none;
    height: 80px;
    /* Set default height */
}

.upper-nav {
    background-color: #ced6de;
    height: 80px;
    min-height: 71px;
}

.upper-nav-content {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.upper-nav-content img {
    height: 40px;
    padding-left: 20px;
}

.slogan {
    margin-right: auto;
    padding-left: 35px;
    font-size: 17px;
}

.slogan p {
    margin-bottom: 0;
}

.contact-info {
    display: flex;
}

.email-contact {
    margin-right: 20px;
}

.email-contact img {
    height: 25px;
    margin-right: 5px;
}

.email-contact a {
    color: #000;
    text-decoration: none;
}

.phone-contact {
    margin-right: 20px;
}

.phone-contact img {
    height: 24px;
}

.phone-contact a {
    color: #000;
    text-decoration: none;
}

.py-4 {
    display: flex;
    justify-content: space-evenly;
}

.registration1 {
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    background-color: red;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

#submitButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton a {
    color: #000;
    padding-bottom: 20px;
    min-width: 30%;
    font-size: 20px;
}

input[type=text] {
    margin-top: 50px;
    min-width: 35%;
    padding: 20px;
    align-self: center;
}

input[type=email] {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 35%;
    padding: 20px;
    align-self: center;
}

input[type=password] {
    margin-bottom: 50px;
    min-width: 35%;
    padding: 20px;
    align-self: center;
}

#message {
    text-align: center;
    background: #dee1e6;
    color: #000;
    margin-bottom: 55px;
    margin-top: 20px;
}

#message p {
    margin-bottom: 10px;
    font-size: 16px;
}

#message p.valid:before {
    content: "\2714";
    /* Checkmark character */
    color: green;
    margin-right: 5px;
}

#message p.invalid:before {
    content: "\2716";
    /* Cross character */
    color: red;
    margin-right: 5px;
}

#submitButton input {
    width: 100%;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    background-color: #1d3557;
    color: #fff;
    border-radius: 40px;
    transition: ease-in-out 0.3s;
}

#submitButton input:hover {
    background-color: #11243e;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

#togglePassword {
    margin-left: 5px;
    padding: 10px;
    border: none;
    background-color: #1d3557;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#togglePassword:hover {
    background-color: #11243e;
}


footer {
    display: flex;
    background-color: #1d3557;
    color: #fff;
    height: 100%;
}

footer h4 {
    margin-bottom: 30px;
}

.text-center {
    display: flex;
    justify-content: space-around;
}

#locations {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#contact {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

@media (max-width: 680px) {
    footer {
        height: 100vh;
    }

    .text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1130px) {
    header {
        position: relative;
        background-color: #1d3557;
    }

    .upper-nav {
        display: none;
    }

    #nav {
        background-color: #1d3557;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        visibility: hidden;
        /* transition: all 0.3s; */
    }

    .lower-nav {
        display: none;
    }

    #nav ul {
        list-style: none;
        text-align: center;
    }

    #nav a {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        display: block;
        padding: 0.5rem;
        transition: transform 0.3s;
    }

    #nav a:hover {
        transform: scale(1.2);
    }

    #nav.open {
        visibility: visible;
        height: 100vh;
        /* Set height to 100vh when opened */
    }


    #hamburger {
        width: 60px;
        height: 45px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transform: scale(0.8);
        cursor: pointer;
        z-index: 99;
    }

    #hamburger span {
        display: block;
        height: 9px;
        width: 100%;
        background-color: #fff;
        border-radius: 9px;
        position: absolute;
        transition: all 0.3s ease-out;
    }

    #hamburger span:nth-child(1) {
        top: 0;
    }

    #hamburger span:nth-child(2) {
        top: 18px;
    }

    #hamburger span:nth-child(3) {
        top: 18px;
    }

    #hamburger span:nth-child(4) {
        top: 36px;
    }

    #hamburger.x span:nth-child(1) {
        top: 18px;
        opacity: 0;
    }

    #hamburger.x span:nth-child(2) {
        transform: rotate(45deg);
    }

    #hamburger.x span:nth-child(3) {
        transform: rotate(-45deg);
    }

    #hamburger.x span:nth-child(4) {
        top: 18px;
        opacity: 0;
    }
}