<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css')}}">
</head>
<body>
<!-- Add header content -->
<header class="header">
    {% include 'partials/_navbar.html' %}
</header>
    
<!-- Add profile content -->
<section class="profile-page">
        <h1 class="greet">Hello {{ current_user.full_name }}!</h1>
        <p class="profile-desc">Edit your profile details below.</p>
        <div class="profile-container">
            <div class="side-menu">
                <a href="/verification" onclick="return loadContent('/verification');"><p>Get Verified</p></a>
                <a href="/account-security" onclick="return loadContent('/account-security');"><p>Account Security</p></a>
                <a href="/notifications" onclick="return loadContent('/notifications');"><p>Notifications</p></a>
                <a href="/delete-account" onclick="return loadContent('/delete-account');"><p>Delete Account</p></a>
            </div>

            <div class="main-content" id="main-content">

            </div>
        </div>
</section>

<!-- Add footer content -->
<footer class="footer">
    {% include 'partials/_footer.html' %}
</footer>

 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <!-- Link to your custom JavaScript file -->
 <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>