<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to your account!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    
</head>
<body>
    <!-- Add header content -->
    <header class="header">
        {% include 'partials/_navbar.html' %}
    </header>

    <!-- Beginning of login section -->
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
  <div class="login">
      <form method="POST" action="" id="loginForm">
        {{ form.csrf_token }}
          {{form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb=4">Log in</legend>
              <div class="form-group">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Enter your email") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span> {{ error }}</span>
                      {% endfor %}
                  </div>

                  {% else %}
                  {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span> {{ error }}</span>
                      {% endfor %}
                  </div>

                  {% else %}
                  {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                  {% endif %}
              </div>
              <div class="form-check">
                  {{ form.remember(class="form-check-input") }}
                  {{ form.remember.label(class="form-check-label") }}
              </div>

          </fieldset>
          <small class="text-muted ml-2">
              <p><a href="{{url_for('reset_request')}}">Forgot password?</a></p>
          </small>
          <div class="form-group">
              {{ form.submit(class="btn") }}
          </div>
      </form>

      <div class="border-top pt-3">
          <small class="text-muted ml-2">
              <p>Need an Account? <a class="ml-2" href="{{ url_for('register')}}">Sign Up Now!</a></p>
          </small>
      </div>
  </div>

    <!-- Add footer content -->
    <footer class="footer">
        {% include 'partials/_footer.html' %}
    </footer>

     <!-- Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <!-- Link to your custom JavaScript file -->
     <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>