<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lease a Car now!</title>
</head>
<body>
    {% for car in cars.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='cars/' + car.car_picture) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ car.model }}</a>
              <small class="text-muted">{{ car.kilometers }}</small>
            </div>

          </div>
        </article>
    {% endfor %}

</body>
</html>