<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lease a Car now!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
</head>
<body>
<!-- Add header content -->
{% include 'partials/_navbar.html' %}

<section class="product-page">
  <div class="container">
    {% for car in cars %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='cars/' + car.car_picture) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h2 class="mt-0">{{ car.model }}</a></h2>
                    <p class="text-muted" id="km">Kilometers: {{ car.kilometers }}</p>
                    <p class="text-muted" id="city">City: {{ car.city }}</p>
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <a href="{{url_for ('book_appointment')}}"><button>Book an appointment</button></a>
            {% else %}
            <a href="{{url_for ('register')}}"><button>Sign Up to book a test drive </button></a>
            {% endif %}
        </article>
    {% endfor %}
</div>
</section>


<!-- Add footer content -->
{% include 'partials/_footer.html' %}

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Link to your custom JavaScript file -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
