<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css')}}">

<div class="my-info-heading">
    <h3>Account</h3>
    <p>Edit your account settings and change your password here.</p>
</div>

<form class="profile-email-information">
    <div class="user-email-details">
        <label for="registered-user-email" id="registered-user-email">Email</label>
        <input type="text" readonly class="form-control-plaintext" id="user-email" value="Your email address is {{ current_user.email }}">
    </div>
</form>

<form action="" class="profile-password-information">
    <div class="user-password-change">
        <label for="registered-user-password" id="registered-user-password">Password</label>
        <input type="password" id="user-password" placeholder="Enter current password" required>
        <input type="password" id="user-new-password" placeholder="Enter new password password" required>
        <input type="password" id="user-new-password-changed" placeholder="Re-type new password" required>
    </div>
    <button type="submit" id="change-password-btn">Change Password</button>
</form>
    <!-- <div class="form-group row">
      <label for="staticEmail" class="col-sm-6 col-form-label">Your Email: </label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
      </div>
    </div> -->
