<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your account!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            console.log('reCAPTCHA token:', token);
            document.getElementById("registrationForm").submit();
        }
    </script>
</head>
<body>
    <!-- Add header content -->
    {% include 'partials/_navbar.html' %}

    <!-- Start of registration -->
    <section class="registration2">
        
    </section>
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
  <div class="register">
      <form method="POST" action="" id="registrationForm">
        {{ form.csrf_token }}
          <fieldset class="form-group">
              <legend class="border-bottom mb=4">sign up</legend>
              <div class="form-group" id="fullName">
                {{ form.full_name(class="form-control form-control-lg", placeholder = "Enter your full name") }}
              </div>
              <div class="form-group">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid", placeholder = "Enter your email") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span> {{ error }}</span>
                      {% endfor %}
                  </div>

                  {% else %}
                  {{ form.email(class="form-control form-control-lg", placeholder = "Enter your email") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {% if form.password.errors %}
                  {{ form.password(id="examplePasswordInput1", class="form-control form-control-lg is-invalid", placeholder="Create a password") }}

                    <ul id="passwordRequirements" class="list-unstyled">
                        <li id="minLength" class="text-danger">- Minimum 8 characters</li>
                        <li id="uppercase" class="text-danger">- At least one uppercase letter</li>
                        <li id="lowercase" class="text-danger">- At least one lowercase letter</li>
                        <li id="number" class="text-danger">- At least one number</li>
                        <li id="symbol" class="text-danger">- At least one special symbol</li>
                    </ul>

                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span> {{ error }}</span>
                      {% endfor %}
                  </div>

                  {% else %}
                  {{ form.password(id="examplePasswordInput1", class="form-control form-control-lg", placeholder="Create a password") }}

                  <ul id="passwordRequirements" class="list-unstyled">
                    <li id="minLength" class="text-danger">- Minimum 8 characters</li>
                    <li id="uppercase" class="text-danger">- At least one uppercase letter</li>
                    <li id="lowercase" class="text-danger">- At least one lowercase letter</li>
                    <li id="number" class="text-danger">- At least one number</li>
                    <li id="symbol" class="text-danger">- At least one special symbol</li>
                </ul>
                  {% endif %}
              </div>
              <div class="form-group">
                  {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder = "Confirm password") }}
                  <div class="invalid-feedback">
                      {% for error in form.confirm_password.errors %}
                      <span> {{ error }}</span>
                      {% endfor %}
                  </div>

                  {% else %}
                  {{ form.confirm_password(class="form-control form-control-lg", placeholder = "Confirm password") }}
                  {% endif %}
              </div>
              <div class="form-group form-check">
                {{ form.t_c(class="form-check-input", id="agreeTerms") }}
                <label class="form-check-label" for="agreeTerms">I agree to the <a href="{{ url_for('terms_conditions') }}" target="_blank">Terms & Conditions</a></label>
                <div class="invalid-feedback" id="termsError">You must agree to the Terms & Conditions.</div>
              </div>
          </fieldset>
          <button class="g-recaptcha btn btn-outline-info" 
          data-sitekey="{{ SITE_KEY }}" 
          data-callback='onSubmit' 
          data-action='submit'>Submit</button>
      </form>
      <div class="border-top pt-3">
          <small class="text-muted">
              <p id="signIn">Already have an account? <a class="ml-2" href="{{ url_for('login')}}">Sign In</a></p>
          </small>
      </div>
  </div>
  <!-- End of registration -->

    <!-- Add footer content -->
    {% include 'partials/_footer.html' %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Link to your custom JavaScript file -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
